body {
  width: 100%;
  height: 100%;
  margin: auto
}

header {
  text-align: center;
}

section {
  text-align: center;
}

p {
  margin: auto;
  width: 800px;
}

div {
  background-color: red;
  width: 25%;
  text-align: center;
}